body {
  background-color: black;

  .events-secion {
    .exception-section {
      width: auto;
      height: 100vh;
      padding: 200px;
      color: white;
    }
    .card-deck {
      margin-bottom: 20px;

      .card-img-block {
        max-height: 300px;
        min-height: 300px;
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }
}
